.project{
    font-family: "Chaparral Pro";
    font-style: normal;
    font-weight: bold;
    line-height: 100%;
    color: black;
}

    body {
        margin: 0;
        border: 0;
        padding: 0;
    }

    #nama {
        color: mediumvioletred;
        font-size: 250%;
        position: absolute;
        top: 45%;
        right: 36%;

    }
    #nama1 {
        color: mediumvioletred;
        top: 15%;
        right: 10%;
    }

    #nama2 {
        top: 55%;
        right: 36%;
        font-style: italic;
    }

    #Quotes {
        position: absolute;
        left: 20%;
        top: 30%;
    }

    #foto {
        position: absolute;
        top: 20%;
        right: 10%;
        width: 30%;
    }
    #edu{
        width: 100%;
    }

    #foto1 {
        position: absolute;
        top: 53%;
        right: 1%;
        width: 4%;
    }

    #kiri {
        position: absolute;
        top: 50%;
        left: 1%;
        width: 5%;
    }
    
    #papan0 {
        background: #f6f0e6 ;
        height: 50vh;
        
    }

    #papanprofile{
        background: #f6f0e6;
        background-size: 200% 200%;
        background-repeat: repeat-y;
        
        margin: 0%;
        padding: 0%;
    }

    #papan {
        background: #96a8ba;
        height: 50vh;
    }
    

    #linkfooter{
        width: 5rem;
        margin-top: 70%;
        margin-left:20%;
    }

    #igfooter{
        width: 5rem;
        margin-top: 70%;
        margin-right:20%;
    }


#papan2{
    position: absolute;
    width: 450px;
    height: 450px;
    left: -150px;
    top:-80px;
    background: #Ca4344;
    border-radius: 50%;
}


    #papan3 {
        position: absolute;
        width: 110%;
        height: 60%;
        left: 30%;
        top: 100%;
        background: #B1A296;
        border-top-left-radius: 50%100%;
        border-top-right-radius: 50%100%;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%
    }

    #garis {
        position: absolute;
        width: 5%;
        height: 30%;
        left: 0%;
        top: 0%;
        background: #64485c;
    }

    /* #Biodata {
        position: absolute;
        top: 8%;
        left: 25%; */
        /* font-size: 100%; */
        /* line-height: 50%;
    } */

    /* #about {
        color: #8F0909;
        font-size: 250%;
        position: absolute;
        top: 5%;
        left:20%;

    } */

    /* #about1 {
        position: absolute;
        top: 35%;
        left: 7%;
        font-size: 110%;
        line-height: 60%;

    } */

    /* #education {
        position: absolute;
        top: 50%;
        left: 25%; */
        /* font-size: 100%;
        line-height: 50%;

    } */

    body {
        margin: 0;
        border: 0;
        padding: 0;

    }

    #div0 {
        position: absolute;
        width: 100vw;
        left: 0%;
        top: 0%;
        background: #ffff;
    }

    #div3 {
        /* position: absolute;
        width: 40%;
        height: 35%;
        right:  50%;
        top: 55%; */
        margin: 2%;
        padding: 2%;
        background: #D7B5C9;
    }
    .set{
        margin: 0%;
        padding: 0%;
        border:0%;
        
    }

    #div2 {
        /* position: absolute; */
        /* width: 40%;
        height: 35%;
        right: 10%;
        top: 15%; */
        margin: 2%;
        padding: 2%;
        background: #afd275;
    }

    #foto3 {
        width:20%;
        margin-top: 10%;
        border-radius: 50%;
        margin-left: 40%;
    }
z
    #atasexp{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #Skill {
        position: absolute;
        top: -20%;
        right: 5%;
        font-size: 180%;
    }


    #pengalaman {
        position: absolute;
        top: 45%;
        left: 10%;
        font-size: 180%;
    }

    #exp{
        display: inline-flex;
    }
    #Board0 {
        position: absolute;
        width: 100vw;
        background: #96a8ba;
    }

    #Board1 {
        margin: 1%;
        margin-left: 10%;
        padding: 2%;
        text-align: center;
        background: #B1A296;
    }

    #porto{
        margin: 1%;
        padding: 2%;
        text-align: center;
    }
    #Board2 {
        margin: 1%;
        padding: 2%;
        text-align: center;
        background: #C4C4C4;
    }

    #Board3 {
        margin: 1%;
        padding: 2%;
        text-align: center;
        background: #D7B5C9;
    }

    #back {
        position: absolute;
        width: 100vw;
        height: 80vh;
        background: #B1A296;
    }

    #garisp {
        position: absolute;
        width: 5%;
        height: 25%;
        left: 0%;
        top: 0%;
        background: #64485c;
    }

    #garisp2 {
        position: absolute;
        width: 70%;
        height: 10%;
        left: 50%;
        top: 25%;
        background: yellow;
    }

    .experience1 {
        position: absolute;
        top: 40%;
        left: 100%;
    }

    .profile1 {
        position: absolute;
        top: 25%;
        left: 100%;

    }

    .Home1 {
        position: absolute;
        top: 10%;
        left: 100%;

    }

    .contact {
        position: absolute;
        top: 55%;
        left: 100%;
    }

    .ig {
        position: absolute;
        height: 20vw;
        width: 30vw;
        top: 40%;
        left: 40%;
    }

    .link {
        position: absolute;
        height: 60px;
        width: 60px;
        top: 40%;
        right: 40%
    }

    .socmed {
        position: fixed;
        justify-content: center;
        background-color: #Ca4344;
        width: 100vw;
        height: 20%;
        display: flex;
        bottom: 0%;
    }
.simbolig{
    justify-content: center;
    margin-left: 45vw;
    height: 2vw;
    width: 2vw;
}
.simbollink{
    justify-content: center;
    height: 2vw;
    width: 2vw;
}
.ukuran{
    position: absolute;
    height: 4%;
    width: 2%;
    top: 20%;
    left: 6%;
}
.model{
    position: absolute;
    height: 4%;
    width: 2%;
    top: 20%;
    left: 9%;}