<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Rafa's Profile</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            
          <style type="text/css">
                  .bg-light{
                background-color: transparent !important;
            }
        body{
            height: 100%;
            margin: 0;
        }
    
        @media screen and (max-width: 760px){
            .mt-5{
                margin-top: 0px;
            }
    
            .pt-5{
                padding-top: 0px;
            }
    
            .p-5{
                padding: 0px;
            }
            #div2{
                margin-right: 5%;
                margin-top: 10%;
            }
            #div3{
                margin-left: 5%;
                margin-top: -5%;
            }

            #foto2 {
            max-width: 50%;
            border-radius: 50%;
            margin-left: 25%;
            }
        }

        
        @media (min-width: 992px) {
            #div2{
                margin-right: 10%;
                margin-top: 10%;
                margin-bottom: -5%;
            }
            #foto2 {
            /* position: absolute; */
            max-width: 30%;
            border-radius: 50%;
            margin-left: 30%;
            padding-bottom: 0%;
            }

            #div3{
                margin-left: 10%;
                margin-top: -5%;
            }
          }


        @media (min-width: 1200px) {
            #div2{
                margin-right: 20%;
                margin-top: 5%;
            }
            #foto2 {
            /* position: absolute; */
            max-width: 25%;
            border-radius: 50%;
            margin-left: 40%;
            padding-bottom: 0%;
            }

            #div3{
                margin-left: 15%;
                margin-top: -15%;
            }
         }
    
        .active{
            color: black;
        }
        .active:hover{
            color: fuchsia;
        }
          </style>
      </head>
      <body >
          <div id="div0">
            <nav class="container navbar navbar-expand-lg navbar-light bg-light fixed-top">
              <a class="navbar-brand" style="font-size: 2vw;color: mediumvioletred" href="#"><b><i>RAysh</i></b></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto w-100 d-flex justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://bit.ly/CV_RafaPutri"> CV </a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link active" href="{% url 'portofolio' %}">Portofolio</a>
                  </li>
              </ul>
              </div>
            </nav>

  
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="background: #dbfdcbff;">
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img class="d-block w-50" src="{% static 'unnamed.png'%}" alt="First slide" style="margin-left: 25%;">
                            </div>
                            </div></div>

                      <hr class="my-1" />
                        <main class="mt-5">
                          <div class="container">
                            <!--Section: Content-->
                            <section>
                              <div class="row">
                                <div class="col-md-12 gx-5 mb-4">
                                  <h4><strong>Tentang CanEat</strong></h4>
                                  <p class="text-muted">
                                    <b>Fooderation 2020</b> - Teknik Industri Pangan, Universitas Padjadjaran
                                    <br> Lomba Bussiness plan yang diadakan mahasiswa teknik Industri Pangan, Universitas Padjadjaran.
                                    <br> Tema dari lomba tersebut adalah <i><b> Agile Sociofoodpreneur as the Key to Achieve Sustainability in
                                    Disruptive Era.</b></i>
                                    
                                  </p>
                                </div>
                              </div>
                            </section>
                            <hr class="my-2" />
                            <section>
                              <div class="row">
                                <div class="col-md-3 gx-5 mb-5">
                                  <h4><strong>Latar Belakang</strong></h4>
                                  <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                    <img src="{% static 'healthy life.png'%}" class="img-fluid" />
                                    <img src="{% static 'pangab.png'%}" class="img-fluid" />
                                    <a href="#!">
                                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                  </div>
                                </div>
                        
                                <div class="col-md-8 gx-5 mb-5">
                                  <!-- <h4><strong>Latar Belakang</strong></h4> -->
                                  <br>
                                  <p class="text-muted" >
                                    Menjaga kesehatan ditengah pandemi seperti ini sudah menjadi tanggung jawab masing-masing individu. Menjaga kesehatan dapat dimulai dengan melakukan gaya hidup sehat dengan memperhatikan faktor seperti:
                                    <br> 1. Dari segi makanan, masih banyak masyarakat Indonesia yang <b>BELUM</b>  mengonsumsi makanan dengan kandungan gizi yang sesuai.
                                    <br> 2. Dari segi olahraga, <b>HANYA</b> 27,6% masyarakat di usia sepuluh tahun ke atas yang rutin berolahraga. Sehingga  tingkat partisipasi olahraga masyarakat masih sangat rendah. 
                                    <br>
                                   <br>Selain itu masalah lainnya mengenai kerentanan pangan. <b>136,05 kg/kapita/tahun</b> Jumlah konsumsi beras di Indonesia per tahun 2019. Dengan tingkat konsumsi yang seperti ini serta diiringi dengan pertumbuhan penduduk yang tidak sebanding, tentunya akan membahayakan ketahanan pangan di Indonesia. 
                                   Hal tersebut dapat diatasi dengan adanya <b>diversifikasi Pangan</b> dengan memaksimalkan pemanfaatan tanaman pangan lokal (seperti ganyong)
                                  </p>
                  
                                </div>
                              </div>
                            </section>
                            <hr class="my-1" />
                            <section>
                              <br>
                            <h4><strong>Deskripsi Bisnis</strong></h4>
                            <br>
                            <div class="container-fluid">
                              <div class="row">
                            <div class="col-md-8 gx-5 mb-4">
                              <h5><strong>Tujuan</strong></h5>
                              <p class="text-muted">
                                1. Meningkatkan kesadaran masyarakat akan gaya hidup sehat
                                <br>2. Mendukung diversifikasi pangan dengan memaksimalkan tanaman pangan alternatif lokal
                              </p>
                              <!-- <div class="col-md-3 gx-5 mb-4"> -->
                              <h5><strong>Produk</strong></h5>
                              <p class="text-muted">
                                1. Katering makanan sehat <br>
                                2. Aplikasi Can Eat
                              </p>
                            </div>

                            <div class="col-md-4 gx-5 mb-4">
                              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                <img src="{% static 'hp.jpg'%}" class="img-fluid" style="width: 35%; margin-left: 30%;"/>
                
                                
                              </div>
                            </div>
                          </div>
                          </div>
                        </section>

                            
                            <hr class="my-1" />
                            <section>
                              <br>
                            <h4><strong>Target Konsumen</strong></h4>
                            <br>
                            <div class="container-fluid">
                              <div class="row">
                                <div class="col-md-3 gx-5 mb-4">
                                  <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                    <img src="{% static 'target1.jpg'%}" class="img-fluid"/>
                   
                                  </div></div>
                                  <div class="col-md-3 gx-5 mb-4">
                                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                      <img src="{% static 'target2.jpg'%}" class="img-fluid"/>
                     
                                    </div></div>
                                    <div class="col-md-3 gx-5 mb-4">
                                      <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                        <img src="{% static 'target4.jpg'%}" class="img-fluid"/>
                       
                                      </div></div>

                            <div class="col-md-3 gx-5 mb-4">
                              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                <img src="{% static 'target3.jpg'%}" class="img-fluid"/>
               
                              </div></div>
                            </div>
                          </div></section>

                          <hr class="my-1" />
                            <section>
                              <br>
                            <h4><strong>Kompetitor Analisis</strong></h4>
                            <br>
                            <div class="container-fluid">
                              <div class="row">
                            <div class="col-md-8 gx-5 mb-4">
                              
                              <!-- <h5><strong>Tujuan</strong></h5> -->
                              <p class="text-muted">
                                Berdasarkan brand positioning disamping, Can Eat melakukan perbandingan dengan beberapa kompetitor Can Eat yaitu :
                                 <br>1. Muscleprepper
                                 <br>2. Homade 
                                 <br>3. Blekros Diet
<br>Dalam melakukan perbandingan dengan beberapa competitor tersebut, kami menggunakan dua parameter yaitu digitalization dan customize. Dimana Can Eat menggunakan teknologi secara digital untuk memesan menunya dan Can Eat menyediakan berbagai jenis program diet dengan jenis menu yang bervariasi. 

                              </p>
          
                            </div>

                            <div class="col-md-4 gx-5 mb-4">
                              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                <img src="{% static 'Competitor Analysis.png'%}" class="img-fluid"/>
                
                                
                              </div>
                            </div>
                          </div>
                          </div>
                        </section>
                      
                          
                        <hr class="my-3" />
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img class="d-block w-100" src="{% static 'analisis.jpg'%}" alt="First slide">
                            </div>
                            </div></div>
                          
                        
                          <hr class="my-3" />
                            <section>
                              <br>
                            <h4><strong>Fitur Utama Can Eat</strong></h4>
                            <br>
                            <div class="container-fluid">
                              <div class="row">
                            <div class="col-md-4 gx-5 mb-4">
                              
                              <!-- <h5><strong>Tujuan</strong></h5> -->
                              <p class="text-muted">
                                <br>1. Homepage
                                <br>2. Chat & Notifikasi
                                <br>3. Memilih Menu
                                <br>4. Pembayaran Makanan 
                                <br>5. Jurnal - My Weight
                                <br>6. Jurnal - My Exercise
                                <br>7. Jurnal - My Diary
                                <br>8. Akun
                                <br> <br>
                        <a href="http://s.id/CanEat" class="btn btn-secondary">Prototype</a>
                              </p>
          
                            </div>

                            <div class="col-md-8 gx-5 mb-4">
                              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    
                                </ol>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100" src="{% static '11.jpg'%}" alt="First slide">
                                  
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '12.jpg'%}" alt="Second slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '13.jpg'%}" alt="Third slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '14.jpg'%}" alt="Fourth slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '15.jpg'%}" alt="Fifth slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '16.jpg'%}" alt="Sixth slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '17.jpg'%}" alt="Seven slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static '18.jpg'%}" alt="Seven slide">
                                  </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </div>
                          </div>
                        </div>
                      </div>
                      </div>
                    </section>
    
                    <section class="text-center" style="background: #f6f0e6;">
                      <br><br>
                    <h4 class="mb-5"><strong>Another Portofolio</strong></h4>
          
                    <div class="row">
                      <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                              src="{% static 'edufun.png'%}"
                              class="img-fluid w-100"
                            />
                            <a href="#!">
                              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Project</h5>
                            <h4><b>edu.fund</b></h4>
                            <p class="card-text text-muted">
                              
                              September 2020- Desember 2020</b>
                              <br> Tema dari project ini adalah <b><i> fintech & crowdfunding </b></i>
                            </p>
                            <a href="{% url 'edufun' %}" class="btn btn-secondary">Read More</a>
                          </div>
                        </div>
                      </div>
          
                     
          
                      <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                              src="{% static 'HR siap kerja.png'%}"
                              class="img-fluid w-100"
                            />
                            <a href="#!">
                              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Work Experience</h5>
                            <h4><b>HR Siap Kerja</b></h4>
                            <p class="card-text text-muted">
                              Februari 2021 - Juni 2021
                            <br>Project yang mengembangkan sistem Informasi dari client dari <b>Rumah Siap Kerja</b>
                            </p>
                            <a href="{% url 'hr' %}" class="btn btn-secondary">Read More</a>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img
                              src="{% static 'amartha.png'%}"
                              class="img-fluid w-100"
                            />
                            <a href="#!">
                              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Work Experience</h5>
                            <h4><b>Skilvul</b></h4>
                            <p class="card-text text-muted">
                              
                              23 Agustus 2021- 23 Desember 2021</b>
                              <br> <i> Design Learning management system</i> (LMS) & Fitur Investasi Emas</b>
                            </p>
                            <a href="{% url 'skilvul' %}" class="btn btn-secondary">Read More</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
</div>
</body> 
</html>
