<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Rafa's Profile</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            
          <style type="text/css">
                  .bg-light{
                background-color: transparent !important;
            }
        body{
            height: 100%;
            margin: 0;
        }
    
        @media screen and (max-width: 760px){
            .mt-5{
                margin-top: 0px;
            }
    
            .pt-5{
                padding-top: 0px;
            }
    
            .p-5{
                padding: 0px;
            }
            #div2{
                margin-right: 5%;
                margin-top: 10%;
            }
            #div3{
                margin-left: 5%;
                margin-top: -5%;
            }

            #foto2 {
            max-width: 50%;
            border-radius: 50%;
            margin-left: 25%;
            }
        }

        
        @media (min-width: 992px) {
            #div2{
                margin-right: 10%;
                margin-top: 10%;
                margin-bottom: -5%;
            }
            #foto2 {
            /* position: absolute; */
            max-width: 30%;
            border-radius: 50%;
            margin-left: 30%;
            padding-bottom: 0%;
            }

            #div3{
                margin-left: 10%;
                margin-top: -5%;
            }
          }


        @media (min-width: 1200px) {
            #div2{
                margin-right: 20%;
                margin-top: 5%;
            }
            #foto2 {
            /* position: absolute; */
            max-width: 25%;
            border-radius: 50%;
            margin-left: 40%;
            padding-bottom: 0%;
            }

            #div3{
                margin-left: 15%;
                margin-top: -15%;
            }
         }
    
        .active{
            color: black;
        }
        .active:hover{
            color: fuchsia;
        }
          </style>
      </head>
      <body >
          <div id="div0">
            <nav class="container navbar navbar-expand-lg navbar-light bg-light fixed-top">
              <a class="navbar-brand" style="font-size: 2vw;color: mediumvioletred" href="#"><b><i>RAysh</i></b></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto w-100 d-flex justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://bit.ly/CV_RafaPutri"> CV </a>
                  </li>
                
                  <li class="nav-item">
                      <a class="nav-link active" href="{% url 'portofolio' %}">Portofolio</a>
                  </li>
                  
              </ul>
              </div>
            </nav>


                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="background: rgb(115, 147, 196);">
                          <div class="carousel-inner">
                            <div class="carousel-item active"  style="margin-top: 10%;">
                              <img class="d-block w-50" src="{% static 'edu.Fund.png'%}" alt="First slide" style="margin-left: 25%;">
                            <br><br><br><br>
                            </div>
                            </div></div>
                      <hr class="my-1" />
                        <main class="mt-5">
                          <div class="container">
                            <!--Section: Content-->
                            <section>
                              <div class="row">
                                <div class="col-md-12 gx-5 mb-4">
                                  <!-- <h4><strong>ABOUT</strong></h4> -->
                                  <p class="text-muted">
                                    <b>September 2020- Desember 2020</b>
                                    <br> Edufun merupakan project akhir dari mata kuliah sistem interaksi yang berlangsung pada semester 5. 
                                    <br> Tema dari project ini adalah <b><i> fintech & crowdfunding </b></i>
                                    
                                  </p>
                                </div>
                              </div>
                            </section>
                            <hr class="my-2" />
                            <section>
                              <div class="row">
                                <div class="col-md-4 gx-5 mb-5">
                                <br>
                                  <h4><strong>Latar Belakang</strong></h4>
                                  <br>
                                  <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                    <img src="{% static 'data.jpg'%}" class="img-fluid" />
                                    <!-- <img src="{% static 'pangab.png'%}" class="img-fluid" /> -->
                                    <a href="#!">
                                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                  </div>
                                </div>
                        
                                <div class="col-md-8 gx-5 mb-5">
                                  <!-- <h4><strong>Latar Belakang</strong></h4> -->
                                  <br>
                                  <p class="text-muted" >
                                    <br><br>
                                    eduFund merupakan aplikasi untuk berdonasi dan menggalang dana terkait <b>kebutuhan pendidikan</b> secara online. Melatar belakangi data dari Badan Pusat Statistika (BPS) mengenai pendidikan. 
                                    Terlihat bahwa jumlah persebaran pendidikan di Indonesia masih <b>kurang merata</b> di beberapa daerah, hal ini disebabkan antara lain karena kondisi sarana prasarana sekolah yang rusak dan faktor lainnya.
                                
                                    Aplikasi ini dikembangkan dengan <b>tujuan</b> untuk memfasilitasi pengguna dalam proses penyumbangan dana terkait kebutuhan pendidikan.
                                     Dengan adanya aplikasi ini diharapkan adanya peningkatan untuk saling membantu dari tiap individu dan juga <b>meningkatkan pendidikan di Indonesia.</b>

                                  </p>
                  
                                </div>
                              </div>
                            </section>
                            <hr class="my-1" />
                            <section>
                              <br>
                            <h4><strong>Research</strong></h4>
                            <br>
                            <div class="container-fluid">
                              <div class="row">
                            <div class="col-md-12 /gx-5 mb-4">
                              <h5><strong>User Research  :</strong></h5>
                              
                              <p class="text-muted">
                                Wawancara dengan 2 tipe narasumber yaitu   3 orang sebagai donatur dan 4  sebagai penggalang dana.</p>
                                <h6><strong>key insight: </strong></h6>
                                <p class="text-muted"> 
                                  1.Penggalang Dana
                                  <br> - Media untuk menyebarluaskan informasi penggalangan dana yang dapat dipercaya oleh pengguna/ donatur lainnya
                                  <br> - Memudahkan untu mencatat dan melihat jumlah donasi yang sudah terkumpul, dan memberikan update perkembangan donasi kepada para donatur dengan mudah. 
                                  <br>
                                  <br>2. Donatur
                                  <br> - Memiliki  informasi resmi dan lengkap mengenai rencana alokasi donasi pendidikan yang diberikan untuk meyakinkan donatur
                                  <br> - Dapat memilih metode transaksi yang dapat digunakan dengan nominal berapa pun.  
                                  <br> - Mengetahui laporan keuangan dari penggunaan dana tersebut yang dapat dikirim lewat email 
                                
                              </p>
                              <hr class="my-2" />
                              <br>
                              <!-- <div class="col-md-3 gx-5 mb-4"> -->
                              <h5><strong>Value Prepotition</strong></h5>
                              <p style="color: purple;"><b>1. Donatur</b></p>
                              <p style="color: orange;"> <b>2. Penggalang Dana</b></p><br>
                              
                              <img src="{% static 'Requirement.png'%}" class="img-fluid w-75" style="margin-left: 15%;"/>
                              
                              <hr class="my-2" />
                              <br>
                              <div class="container-fluid">
                                <div class="row">
                              <div class="col-md-5 gx-5 mb-4">
                              <h5><strong>User Journey Mapping</strong></h5>
                              <p class="text-muted">
                                1. Donatur - Amalia 
                                <br> Tugas : Melakukan donasi 
                                <br>
                                <br> 2. Penggalang Dana- Arief
                                <br> Tugas : Posting untuk aksi penggalangan dana
                                
                              </p>
                              </div>
                              <div class="col-md-7 gx-5 mb-4">
                                     <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>

                                  <div class="carousel-inner">
                                    <div class="carousel-item active">
                                      <img class="d-block w-100" src="{% static 'image9.png'%}" alt="First slide">
                                    
                                    </div>
                                    <div class="carousel-item">
                                      <img class="d-block w-100" src="{% static 'image10.png'%}" alt="Second slide">
                                    </div>
       
                                  <br><br><br><br>
                                  </div>
                                  </div></div></div></div>


                              <hr class="my-2" />
                              <br>
                              <!-- <div class="col-md-3 gx-5 mb-4"> -->
                              <h5><strong>Information Architecture                              </strong></h5>
                              <br> <br>
                              <img src="{% static 'arc.png'%}" class="img-fluid w-75" style="margin-left: 15%;"/>
                              
                              
                              
                            </div>
                          </div></div></section>



                  
                        
                    
                
                    <hr class="my-3" />
                    <section>
                      <br>
                    <h4><strong>Fitur Utama eduFund</strong></h4>
                    <br>
                    <div class="container-fluid">
                      <div class="row">
                    <div class="col-md-4 gx-5 mb-4">
                      
                      <!-- <h5><strong>Tujuan</strong></h5> -->
                      <p class="text-muted">
                
                        1.Homepage
                        <br>2.Profil/ Detail Donasi
                        <br>3.Pembayaran Donasi 
                        <br>4.Tarik Dana
                        <br>5.Galang Dana
                        <br>6.Riwayat
                        <br>7.Notifikasi
                        <br> <br>
                        <a href="https://bit.ly/edu_fund" class="btn btn-secondary">Prototype</a>


                      </p>
  
                    </div>

                    <div class="col-md-8 gx-5 mb-4">
                          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>

                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="{% static '1.jpg'%}" alt="First slide">
                              
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static '2.jpg'%}" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static '3.jpg'%}" alt="Third slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static '4.jpg'%}" alt="Fourth slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static '5.jpg'%}" alt="Fifth slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static '6.jpg'%}" alt="Sixth slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static '7.jpg'%}" alt="Seven slide">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </section>

              
                    
                    <section class="text-center" style="background: #f6f0e6;">
                        <br><br>
                      <h4 class="mb-5"><strong>Another Portofolio</strong></h4>
            
                      <div class="row">
                          
                        <div class="col-lg-4 col-md-6 mb-4">
                          <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                              <img
                                src="{% static 'logo.jpg'%}"
                                class="img-fluid" 
                              />
                              <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                              </a>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Competation</h5>
                              <h4><b>CAN EAT</b></h4>
                              <p class="card-text text-muted">
                                Fooderation 2020 
                              
                                <br> Tema lomba ini <i><b> Agile Sociofoodpreneur as the Key to Achieve Sustainability in
                                Disruptive Era.</b></i>
                                
                              </p>
                              <a href="{% url 'caneat' %}" class="btn btn-secondary">Read More</a>
                            </div>
                          </div>
                        </div>
            
                        <div class="col-lg-4 col-md-6 mb-4">
                          <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                              <img
                                src="{% static 'HR siap kerja.png'%}"
                                class="img-fluid w-100"
                              />
                              <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                              </a>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Work Experience</h5>
                              <h4><b>HR Siap Kerja</b></h4>
                              <p class="card-text text-muted">
                                Februari 2021 - Juni 2021
                              <br>Project yang mengembangkan sistem Informasi dari client dari <b>Rumah Siap Kerja</b>
                              </p>
                              <a href="{% url 'hr' %}" class="btn btn-secondary">Read More</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mb-4">
                          <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                              <img
                                src="{% static 'amartha.png'%}"
                                class="img-fluid w-100"
                              />
                              <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                              </a>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Work Experience</h5>
                              <h4><b>Skilvul</b></h4>
                              <p class="card-text text-muted">
                                
                                23 Agustus 2021- 23 Desember 2021</b>
                                <br> <i> Design Learning management system</i> (LMS) & Fitur Investasi Emas</b>
                              </p>
                              <a href="{% url 'skilvul' %}" class="btn btn-secondary">Read More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
            
 
</div>
</body> 
</html>
