<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Rafa's Profile</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            
          <style type="text/css">
                  .bg-light{
                background-color: transparent !important;
            }
        body{
            height: 100%;
            margin: 0;
        }
    
        @media screen and (max-width: 760px){
            .mt-5{
                margin-top: 0px;
            }
    
            .pt-5{
                padding-top: 0px;
            }
    
            .p-5{
                padding: 0px;
            }
            #div2{
                margin-right: 5%;
                margin-top: 10%;
            }
            #div3{
                margin-left: 5%;
                margin-top: -5%;
            }

            #foto2 {
            max-width: 50%;
            border-radius: 50%;
            margin-left: 25%;
            }
        }

        
        @media (min-width: 992px) {
            #div2{
                margin-right: 10%;
                margin-top: 10%;
                margin-bottom: -5%;
            }
            #foto2 {
            /* position: absolute; */
            max-width: 30%;
            border-radius: 50%;
            margin-left: 30%;
            padding-bottom: 0%;
            }

            #div3{
                margin-left: 10%;
                margin-top: -5%;
            }
          }


        @media (min-width: 1200px) {
            #div2{
                margin-right: 20%;
                margin-top: 5%;
            }
            #foto2 {
            /* position: absolute; */
            max-width: 25%;
            border-radius: 50%;
            margin-left: 40%;
            padding-bottom: 0%;
            }

            #div3{
                margin-left: 15%;
                margin-top: -15%;
            }
         }
    
        .active{
            color: black;
        }
        .active:hover{
            color: fuchsia;
        }
          </style>
      </head>
      <body >
          <div id="div0">
            <nav class="container navbar navbar-expand-lg navbar-light bg-light fixed-top">
              <a class="navbar-brand" style="font-size: 2vw;color: mediumvioletred" href="#"><b><i>RAysh</i></b></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto w-100 d-flex justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://bit.ly/CV_RafaPutri"> CV </a>
                  </li>
                 
                  <li class="nav-item">
                      <a class="nav-link active" href="{% url 'portofolio' %}">Portofolio</a>
                  </li>
                 
              </ul>
              </div>
            </nav>

                
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="background: #FFC709;">
                          <div class="carousel-inner">
                            <div class="carousel-item active"  style="width: 100%;margin-top: 5%;">
                              <br><br>
                              <img class="d-block w-50" src="{% static 'Group 300.png'%}" alt="First slide" style="margin-left: 25%;">
                              <br><br>
                            </div> 
                            </div></div>
                      <hr class="my-1" />
                        <main class="mt-5">
                          <div class="container">
                            <!--Section: Content-->
                            <section>
                              <div class="row">
                                <div class="col-md-12 gx-5 mb-4">
                                  <h4><strong></strong></h4>
                                  <p class="text-muted">
                                    <b>Februari 2021 - Juni 2021</b>
                                    <br> HR Siap Kerja merupakan Project dari mata kuliah Proyek Pengembangan Sistem Informasi yang langsung berhubungan dengan client dari Rumah Siap Kerja
                                    <br> Peran : <i>Lead System Design </i>
                                    <br> Tugas :  Bertanggung jawab dalam memimpin proses pendefinisian arsitektur, modul, antarmuka, dan basis data untuk sistem guna memenuhi requirements yang telah ditentukan.
                                    
                                  </p>
                                </div>
                              </div>
                            </section>
                            <hr class="my-2" />
                            <section>
                            
                                  <h4><strong>Latar Belakang</strong></h4>
                                
                        
                                <div class="col-md-12 gx-5 mb-5">
                                
                                  <br>
                                  <p class="text-muted" >
Rumah Siap Kerja berencana melakukan <b>ekspansi</b> organisasi, sehingga akan dilakukan rekrutmen
pegawai baru dalam jumlah banyak dan sering. Tanpa suatu sistem yang mendukung proses rekrutmen tersebut,
proses yang dikerjakan secara manual akan menghabiskan waktu dan sumber daya yang lebih besar. Oleh karena itu, untuk <b> mendukung aktivitas rekrutmen </b> secara keseluruhan pada Rumah Siap Kerja, tim
pengembang membuat sistem informasi khusus rekrutmen  yang dinamakan <b>HR Siap Kerja.</b>
                                  </p>
                  
                                </div>
                              
                            </section>
                            <hr class="my-1" />
                            <section>
                              <br>
                            <h4><strong>Tahap Analisis:</strong></h4>
                            <br>
                            <div class="container-fluid">
                              <div class="row">
                            <div class="col-md-9 /gx-5 mb-4">
                              <h5><strong>Identifikasi Masalah:</strong></h5>
                              <p class="text-muted">
                                1. Belum terdapat database untuk menyimpan data pelamar dan lowongan yang terbuka
<br> 2. Penggunaan Microsoft Excel untuk keep track pelamar sehingga menyebabkan inefisiensi waktu
<br> 3. Pengiriman email secara  manual ke banyak kandidat pelamar yang banyak menghabiskan waktu
<br> 4. Pengajuan pembukaan lowongan dilakukan secara manual yang memakan waktu
<br> 5. Belum terdapat sistem untuk melacak tahapan rekrutmen pelamar 
<br> 6. Belum terdapat sistem untuk melacak lowongan yang sedang terbuka dan pelamarnya

                              </p>
                              <!-- <div class="col-md-3 gx-5 mb-4"> -->
                              <h5><strong>Solusi:</strong></h5>
                              <p class="text-muted">
                                1. Sistem dapat membuat lowongan baru yang dibutuhkan 
                                <br> 2.Sistem dapat digunakan untuk memasukkan dan menyimpan data pelamar
                                <br> 3.Sistem dapat mengirimkan tugas kepada pelamar yang memenuhi syarat secara otomatis
                                <br> 4.Sistem dapat mengirimkan email  kepada pelamar secara otomatis
                                <br> 5.Sistem dapat mengirimkan notifikasi ke CEO, Internal Employee, HR
                                <br> 6.Sistem dapat digunakan untuk memasukkan dan menyimpan hasil pekerjaan tugas pelamar dan cv pelamar
                                <br> 7.Sistem dapat digunakan untuk melihat  hasil dari tugas pelamar beserta waktu submisi                               <br> 2.Sistem dapat menampilkan daftar pelamar yang dapat dikelompokan
                                <br> 8.Sistem dapat menampilkan daftar lowongan & daftar pelamar yang dapat dikelompokan 
                                <br> 9.Sistem dapat mengubah status pelamar & lowongan
                          
                                
                              </p>
                              <br>
                              <h5><strong>Identifikasi Flow Sistem:</strong></h5>

                              <p class="text-muted">
                                Selanjutnya setelah mengidentifikasi masalah dan kebutuhan sistem selanjutnya mendiskusikan mengenai alur sistem yang ada saat ini dan yang akan datang. 
                              </p>

                              <div class="container-fluid">
                              <div class="row">
                                <!-- <div class="col-lg-4 col-md-12 mb-4"> -->
                               <div class="col-md-6 gx-5 mb-4">
                              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                <img src="{% static 'manual.png'%}" class="img-fluid" style="margin-left: 10%;"/>
                                <p style="text-align: center;">Sistem Rumah Siap Kerja Saat ini</p>
                              </div></div>
                              <div class="col-md-6 gx-5 mb-4">
                                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                  <img src="{% static 'sistem.png'%}" class="img-fluid"style="margin-left: 25%;"/>
                                  <p style="text-align: center; margin-left: 28%;">Sistem Rumah Siap Kerja kedepannya</p>
                                </div></div></div>
                            </div>
                          </div>
                          </div>
                        </section>
                    
                    <hr class="my-3" />
                    <section>
                     
                      <br>
                      <h4><strong>Tahap Desain: </strong></h4>
                      <br>
                    
                        <p class="text-muted">
                          Setelah melakukan beberapa kali revisi mengenai flow dari sistem, selanjutnya saya membuat sitemap dari masing masing role agar jelas dan kemudian menerjemahkan flow tersebut ke dalam  desain interface menggunakan Figma.  Saat melakukan proses desain memerlukan koordinasi dengan client serta lead programmer untuk pengembangan sistem kedepannya.  

                        </p>
                        
                    <h5><strong>Fitur Utama HR Siap Kerja</strong></h5>
                    <br>
                    <div class="container-fluid">
                      <div class="row">
                    <div class="col-md-4 gx-5 mb-4">
                      
                      <!-- <h5><strong>Tujuan</strong></h5> -->
                      <p class="text-muted">
                
                        1.Login
                        <br>2.Daftar Lowongan
                        <br>3.Tambah Lowongan
                        <br>4.Daftar Pelamar
                        <br>5.Tambah Pelamar
                        <br>6.Detail Pelamar
                        <br>7.Detail Lowongan
                        <br>8.Dashboard
                        <br>9.Submisi Tugas
                        <br> <br>
                        <a href="https://bit.ly/HR-SiapKerja" class="btn btn-secondary">Prototype</a>

             

                      </p>
  
                    </div>

                    <div class="col-md-8 gx-5 mb-2">
                          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>

                            </ol>
                            <div class="carousel-inner" style="margin-left: 20%;">
                              <div class="carousel-item active" >
                                <img class="d-block w-75" src="{% static '21.png'%}" alt="First slide">
                              
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-75" src="{% static '22.png'%}" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-75" src="{% static '23.png'%}" alt="Third slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-75" src="{% static '24.png'%}" alt="Fourth slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-75" src="{% static '25.png'%}" alt="Fifth slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-75" src="{% static '26.png'%}" alt="Sixth slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-75" src="{% static '27.png'%}" alt="Seven slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-75" src="{% static '28.png'%}" alt="Seven slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-75" src="{% static 'Slot1.png'%}" alt="Seven slide">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </section>

                <section class="text-center" style="background: #f6f0e6;">
                  <br><br>
                <h4 class="mb-5"><strong>Another Portofolio</strong></h4>
      
                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                          src="{% static 'edufun.png'%}"
                          class="img-fluid w-100"
                        />
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Project</h5>
                        <h4><b>edu.fund</b></h4>
                        <p class="card-text text-muted">
                          
                          September 2020- Desember 2020</b>
                          <br> Tema dari project ini adalah <b><i> fintech & crowdfunding </b></i>
                        </p>
                        <a href="{% url 'edufun' %}" class="btn btn-secondary">Read More</a>
                      </div>
                    </div>
                  </div>
      
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                          src="{% static 'logo.jpg'%}"
                          class="img-fluid" 
                        />
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Competation</h5>
                        <h4><b>CAN EAT</b></h4>
                        <p class="card-text text-muted">
                          Fooderation 2020 
                        
                          <br> Tema lomba ini <i><b> Agile Sociofoodpreneur as the Key to Achieve Sustainability in
                          Disruptive Era.</b></i>
                          
                        </p>
                        <a href="{% url 'caneat' %}" class="btn btn-secondary">Read More</a>
                      </div>
                    </div>
                  </div>
      
                  <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                          src="{% static 'amartha.png'%}"
                          class="img-fluid w-100"
                        />
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Work Experience</h5>
                        <h4><b>Skilvul</b></h4>
                        <p class="card-text text-muted">
                          
                          23 Agustus 2021- 23 Desember 2021</b>
                          <br> <i> Design Learning management system</i> (LMS) & Fitur Investasi Emas</b>
                        </p>
                        <a href="{% url 'skilvul' %}" class="btn btn-secondary">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            
 
</div>
</body> 
</html>
