<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <link rel=”icon” href=Revain-R-icon.png>
    <title>Rafa Putri Ayasha</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
     
    <style type="text/css">
        .bg-light{
            background-color: transparent !important;
        }
    body{
        height: 100%;
        margin: 0;
    }

    @media screen and (max-width: 767px){
        .mt-4{
            margin-left: 10%;
            font-size: x-large;
        }

        .mt-3{
            margin-left: 10%;
            font-size: smaller;
        }
        .pt-5{
            padding-top: 0px;
        }
        .simbolig{
        justify-content: center;
        margin-left: 38vw;
        height: 5vw;
        width: 5vw;
        }
        .simbollink{
            justify-content: center;
            height: 5vw;
            width: 5vw;
}
        #atasexp{
            margin-top: 60%;
        }
        #foto3{
        width:50%;
        margin-left: 30%;
    }
    }

    .active{
        color: black;
    }
    .active:hover{
        color: mediumvioletred;
    }
    </style>
</head>
<body >
    <div id="papan0">
    <div id="papan">
            <nav class="container navbar navbar-expand-lg navbar-light bg-light fixed-top">
                    <a class="navbar-brand" style="font-size: 2vw;color: mediumvioletred" href="#"><b><i>RAysh</i></b></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                      <ul class="navbar-nav mr-auto w-100 d-flex justify-content-end">
                        <li class="nav-item p-2">
                          <a class="nav-link active" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item p-2">
                            <a class="nav-link" href="https://bit.ly/CV_RafaPutri"> CV </a>
                        </li>
                      
                        <li class="nav-item p-2">
                            <a class="nav-link" href="{% url 'portofolio' %}">Portofolio</a>
                        </li>
                        
                    </ul>
                    </div>
                  </nav>


        
        <!-- <div class="conteiner row text-center d-flex h-100"> -->
            <!-- <div class="p-5 col-md-6 text-right col-xl-7 my-auto align-self-center">
                <p class="h3 project mt-3" style="color: mediumvioletred"><b>HELLO, I'M RAFA</b></p>
                <p class="project h6"><b>Information System, Universitas Indonesia</b></p>
            </div>
            <div class="col-md-6 col-xl-5 justify-content-end align-self-center">
                <p class="project mt-5 pt-5 text-center h5" style="color: mediumvioletred"><b>RAFA PUTRI AYASHA</b></p>
                <img class="rounded w-75 mb-5 pb-5" src="{% static '749390.jpg'%}">
            </div> -->
            <div class="container-fluid row" id="exp">

                <div class="col-12" id="atasexp">
                        
                        <img id="foto3" src="{% static '749390.jpg'%}">
                        <p class="project mt-4 text-center h2" style="color: mediumvioletred;"><b>Rafa Putri Ayasha</b></p>
                        <p class="project mt-3 text-center h6"><b>You can call me Rafa! <br> I'm student from Information System, Universitas of Indonesia.
                            <br>i'm an organised, dicsipline, well-communicate, and willing to learn new things.
                        </b></p>
                            <a href='https://instagram.com/rafaaysh?igshid=qe84j2j6gtmh'>
                                <img class="simbolig mr-3 text-md-center" src="{% static '6b42c7750811d31baa3659803af22052.png'%}"></a>
            
                    <a href='https://www.linkedin.com/in/rafa-ayasha/'>
                        <img class="simbollink" src="{% static 'linkedin-svg-jpeg-2.png'%}"></a>
            
                </div>      
          </div>
        </div>
        </div>
    </body>
</html>