
<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit=no>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Rafa's Portofolio</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <style type="text/css">
        .bg-light{
            background-color: transparent !important;
        }
    body{
        height: 100%;
        margin: 0;
    }


    @media screen and (max-width: 767px){
        .mt-5{
            font-size: xx-large;
        }

        .pt-5{
            padding-top: 0px;
        }

        .p-5{
            padding: 0px;
        }
        .mb-2{
            margin-right: 20%;
        }
        .card-group{
            margin-left: -10%;
        }
        #atasexp{
            margin-top: 10%;
        }
}
    

    .active{
        color: black;
    }
    .active:hover{
        color: mediumvioletred;
    }
    </style>
</head>

<body>
 <div id="papan0">
    <div id="papan">
            <nav class="container navbar navbar-expand-lg navbar-light bg-light fixed-top">
                    <a class="navbar-brand" style="font-size: 2vw;color: mediumvioletred" href="#"><b><i>RAysh</i></b></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                      <ul class="navbar-nav mr-auto w-100 d-flex justify-content-end">
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://bit.ly/CV_RafaPutri"> CV </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'portofolio' %}">Portofolio</a>
                        </li>
                        
                    </ul>
                    </div>
                  </nav>

    
      
        <div class="container-fluid row" id="exp">
    
            <div class="col-12" id="atasexp">
             <!-- <div class="conteiner row text-center d-flex h-300"> -->
                <div class="p-5 col-md-6 text-left col-xl-7 my-auto align-self-center">
                    <p class="project mt-5 h1" style="margin-left: 10%;"><b><br>HELLO! <br> Welcome to my portfolio</b></p>
                </div></div>
            </div>
            <br>

            <div class="card-group">
                <!-- <div class="row"> -->
                    
                    <div class="col-md-3" >
                        <div class="card mb-2">
                            <img class="card-img-top" src="{% static 'edufun.png'%}">
                            <div class="card-body">
                                <h5 class="card-title"style="text-align: center;">Project </h5>
                                <p class="card-text"style="text-align: center;">edu.fun</p>
                                <a  href="{% url 'edufun' %}"
                                class="btn btn-secondary" style="margin-left: 30%;">
                                    Read More
                                </a>
                            </div>
                            
                        </div></div>

                    <div class="col-md-3">
                        <div class="card mb-2">
                            <img class="card-img-top" src="{% static 'logo.jpg'%}">
                            <div class="card-body">
                                <h5 class="card-title"style="text-align: center;">Competation</h5>
                                <p class="card-text"style="text-align: center;">CAN EAT</p>
                                <a  href="{% url 'caneat' %}"
                                class="btn btn-secondary"style="margin-left: 30%;">
                                    Read More
                                </a>
                            </div>
                        </div></div>

                    <div class="col-md-3">
                        <div class="card mb-2">
                            <img class="card-img-top" src="{% static 'HR siap kerja.png'%}">
                            <div class="card-body">
                                <h5 class="card-title"style="text-align: center;">Work Experience</h5>
                                <p class="card-text" style="text-align: center;">HR Siap Kerja</p>
                                <a  href="{% url 'hr' %}"
                                class="btn btn-secondary" style="margin-left: 30%;">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" >
                        <div class="card mb-2">
                            <img class="card-img-top" src="{% static 'amartha.png'%}">
                            <div class="card-body">
                                <h5 class="card-title"style="text-align: center;">Work Experience </h5>
                                <p class="card-text"style="text-align: center;">Skilvul X Kampus Merdeka 
                                </p>
                                <a  href="{% url 'skilvul' %}"
                                class="btn btn-secondary" style="margin-left: 30%;">
                                    Read More
                                </a>
                            </div>
                            
                        </div></div>
                
                </div>
                </div></div>
               
                        <!-- <div class="container info">
                        <div class="row">
                            <div class="col align-self-center">
                                <p style="margin-top: 20%; font-size: 200%" class="text-md-center project"> Find me on:<br><br>
                                    Rafa.putri@ui.ac.id<br><br>
                                    +6287884510858
                                </p>
                            </div>
                        </div>
                    <div class="socmed row">
                        </div>  -->
                        

</body>
</html>