<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Rafa's Profile</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            
          <style type="text/css">
                  .bg-light{
                background-color: transparent !important;
            }
        body{
            height: 100%;
            margin: 0;
        }
    
        @media screen and (max-width: 760px){
            .mt-5{
                margin-top: 0px;
            }
    
            .pt-5{
                padding-top: 0px;
            }
    
            .p-5{
                padding: 0px;
            }
            #div2{
                margin-right: 5%;
                margin-top: 10%;
            }
            #div3{
                margin-left: 5%;
                margin-top: -5%;
            }

            #foto2 {
            max-width: 50%;
            border-radius: 50%;
            margin-left: 25%;
            }
        }

        
        @media (min-width: 992px) {
            #div2{
                margin-right: 10%;
                margin-top: 10%;
                margin-bottom: -5%;
            }
            #foto2 {
            /* position: absolute; */
            max-width: 30%;
            border-radius: 50%;
            margin-left: 30%;
            padding-bottom: 0%;
            }

            #div3{
                margin-left: 10%;
                margin-top: -5%;
            }
          }


        @media (min-width: 1200px) {
            #div2{
                margin-right: 20%;
                margin-top: 5%;
            }
            #foto2 {
            /* position: absolute; */
            max-width: 25%;
            border-radius: 50%;
            margin-left: 40%;
            padding-bottom: 0%;
            }

            #div3{
                margin-left: 15%;
                margin-top: -15%;
            }
         }
    
        .active{
            color: black;
        }
        .active:hover{
            color: fuchsia;
        }
          </style>
      </head>
      <body >
          <div id="div0">
            <nav class="container navbar navbar-expand-lg navbar-light bg-light fixed-top">
              <a class="navbar-brand" style="font-size: 2vw;color: mediumvioletred" href="#"><b><i>RAysh</i></b></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto w-100 d-flex justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://bit.ly/CV_RafaPutri"> CV </a>
                  </li>
                
                  <li class="nav-item">
                      <a class="nav-link active" href="{% url 'portofolio' %}">Portofolio</a>
                  </li>
                  
              </ul>
              </div>
            </nav>

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="background: #DEC1F0;">
                <div class="carousel-inner">
                  <div class="carousel-item active"  style="width: 100%;">
                    <br><br>
                    <img class="d-block w-75" src="{% static 'amartha.png'%}" alt="First slide" style="margin-left: 13%;" >
                    <br><br>
                  </div> 
                  </div></div>
                            
                      <hr class="my-1" />
                        <main class="mt-5">
                          <div class="container">
                            <!--Section: Content-->
                            <section>
                              <div class="row">
                                <div class="col-md-12 gx-5 mb-4">
                                  <!-- <h4><strong>ABOUT</strong></h4> -->
                                  <p class="text-muted">
                                    <b>23 Agustus 2021- 23 Desember 2021</b>
                                    <br> Program "virtual Internship: UX challenge" bersertifikat oleh Skilvul X Kampus Merdeka
                                    <br> Tugas yang dikerjakan yaitu membuat <b><i> design learning management system</i> (LMS) & menyelesaikan <i>challange partner</i> (Amartha) </b>
                                    <br> Tools: Figma, Figjam, Medium
                                  </p>
                                </div>
                              </div>
                            </section>
                            <hr class="my-2" />
                            <section>
                              <h4><strong>Tugas 1 : <i>Learning Management System </i>(Educare)</strong></h4>
                              <p class="text-muted">23 Agustus 2021- 23 Oktober 2021
                                <br>Educare merupakan project yang dibuat selama pembelajaran program internship UI/UX Skilvull. 
                              </p>
                              <div class="row">
                                <div class="col-md-5 gx-5 mb-5">
                                <br>
                                  <h4><strong>Latar Belakang</strong></h4>
                                  <br>
                                  <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                    <img src="{% static 'lms.png'%}" class="img-fluid" />
                                   
                                    <!-- <a href="#!">
                                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a> -->
                                  </div>
                                </div>
                        
                                <div class="col-md-7">
                                  <!-- <h4><strong>Latar Belakang</strong></h4> -->
                                  <br><br><br>
                                  <p class="text-muted" >
                                   
                                    Sulitnya mencari pekerjaan karena pertumbuhan penduduk yang begitu pesat. Oleh sebab itu, adanya aplikasi <b>Educare</b> diharapkan dapat membantu mahasiswa dan pekerja lainnya untuk <b>meningkatkan skillnya</b> agar dapat mempersiapkan karirnya serta dapat menghadapi persaingan didalam dunia kerja.
                             
                                    <br>
                                    <h6>Objektif</h6> 
                                    <p class="text-muted" >
                                        1. Menciptakan desain aplikasi yang dapat digunakan oleh semua kalangan 
                                        <br>2. Memudahkan user untuk mengakses materi pembelajaran dimana dan kapan saja 
                                        </p>
                                        <h6>Metode Pendekatan Design Process :</i></h6>
                                      <a class="nav-link" href="https://medium.com/@rafaputri86/ui-ux-case-study-educare-63128be5e12f"> <b><i>-> Design Thinking</i></b></a>
                                   
                                  </p>
                  
                                </div>
                              </div>
                            </section>
                          
                    <hr class="my-3" />
                    <section>
                      
                    <h4><strong>Fitur Utama Educare:</strong></h4>
                    <br>
                    <div class="container-fluid">
                      <div class="row">
                    <div class="col-md-4">
                      
                      <!-- <h5><strong>Tujuan</strong></h5> -->
                      <p class="text-muted">
                        1.Login & Registrasi 
                        <br>2.Homepage
                        <br>3.Metode Pembayaran
                        <br>4.MyClass & Forum Diskusi
                        <br>5.Fitur chat
                        <br>6.Leaderboard
                        <br>7.Akun
                        
                        <br> <br>
                        <a href="https://bit.ly/Educare_LMS" class="btn btn-secondary">Prototype</a>
                      </p>
                    </div>

                    <div class="col-md-8">
                          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="{% static 'L1.jpg'%}" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'L2.jpg'%}" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'L3.jpg'%}" alt="Third slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'L4.jpg'%}" alt="Fourth slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'L5.jpg'%}" alt="Fifth slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'L6.jpg'%}" alt="Sixth slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="{% static 'L7.jpg'%}" alt="Seven slide">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </section>

                <!-- ------------------------------------------------------------------------------------------------------------- -->

                <hr class="my-1" />
                        <main class="mt-5">
                          <div class="container">
                            <!--Section: Content-->
                            <h4><strong>Tugas 2 : <i>challange Partner </i>(Amartha)</strong></h4>
                              <p class="text-muted">25 Oktober 2021 -10 Desember 2021
                                <br>
                                Proyek ini merupakan bagian dari program magang Skilvul yang bekerja sama dengan perusahaan lain yaitu Amartha. Namun disini saya <b>tidak terikat kontrak apapun </b> oleh perusahaan Amartha .</p>
                              <div class="row">
                                <div class="col-md-5 gx-5 mb-5">
                                <br>
                                  <h4><strong>Latar Belakang</strong></h4>
                                  <br>
                                  <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                    <img class="d-block w-100" src="{% static 'amartha2.png'%}" class="img-fluid" />
                                    <!-- <img src="{% static 'pangab.png'%}" class="img-fluid" /> -->
                                    <a href="#!">
                                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                  </div>
                                </div>
                        
                                <div class="col-md-7 gx-5 mb-5">
                                  <!-- <h4><strong>Latar Belakang</strong></h4> -->
                                  <br>
                                  <p class="text-muted" >
                                    <br><br>
                                    Banyaknya permintaan pasar & trend investasi online, Amartha ingin meningkatkan lini bisnisnya dengan mengembangkan <b>fitur investasi emas. </b>
                                    Adanya fitur ini diharapkan dapat menjawab kebutuhan pengguna dengan <b>investasi jangka panjang & meningkatkan keuangan pengguna terhadap dana yang menganggur </b>

                                    <br>
                                    <h6>Tujuan: </h6> 
                                    <p class="text-muted" >
                                        1. Menciptakan desain aplikasi yang mudah digunakan & diakses kapan saja
                                        <br>2. Menciptakan pengalaman berinvestasi pengguna yang lebih fun dengan gamifikasi
                                        <br>3. Memotivasi user untuk terus berinvestasi di amartha
                                        </p>
                                        <h6>Metode Pendekatan Design Process :</i></h6>
                                      <a class="nav-link" href="https://medium.com/@rafaputri86/ui-ux-case-study-amartha-5387d6dc6414"> <b><i>-> Design Thinking</i></b></a>
                                    </p>
                  
                                </div>
                              </div>
                            </section>
                            
                            <hr class="my-2" />
                            <section>
                              <div class="row">
                                <div class="col-md-8 gx-5 mb-5">
                                <br>
                                  <h4><strong>Customer Strategy</strong></h4>
                                  <br>
                                  <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                    <img src="{% static 'reten.jpg'%}" class="img-fluid" />
                                    <!-- <img src="{% static 'pangab.png'%}" class="img-fluid" /> -->
                                    <a href="#!">
                                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                  </div>
                                </div>
                        
                                <div class="col-md-4 gx-5 mb-5">
                                  <br>
                                  <br><br>
                        
                                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                                      <img src="{% static 'akuis.jpg'%}" class="img-fluid" />
                                      <!-- <img src="{% static 'pangab.png'%}" class="img-fluid" /> -->
                                      <a href="#!">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                      </a>
                                    </div>
                                  </div>
                              </div>
                            </section>
                    <hr class="my-3" />
                    <section>
                      <br>
                    <h4><strong>Fitur Utama:</strong></h4>
                    <br>
                    <div class="container-fluid">
                      <div class="row">
                    <div class="col-md-4 gx-5 mb-4">
                      
                      <!-- <h5><strong>Tujuan</strong></h5> -->
                      <br>
                      <p class="text-muted">
                
                        1.Panduan Investasi Emas 
                        <br>2.Jual Emas
                        <br>3.Beli Emas
                        <br>4.Golden plan
                        <br>5.Kebun Emas
                        <br>6.Gift Emas
                        <br>7.Cetak Emas 
                        <br>8.Alarm Emas
                        <br>9.Tukar point
                        <br>10.Notifikasi
            

                        <br> <br>
                        <a href="https://bit.ly/SVI-3_Group5" class="btn btn-secondary">Prototype</a>


                      </p>
  
                    </div>

                    <div class="col-md-8 gx-5 mb-4">
                          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>

                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <h4><strong>1. Panduan Investasi Emas</strong></h4>
                                <img class="d-block w-100" src="{% static 'A1.jpg'%}" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <h4><strong>2. Fitur Beli Emas</strong></h4>
                                <img class="d-block w-100" src="{% static 'A2.jpg'%}" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <h4><strong>3. Fitur Jual Emas</strong></h4>
                                <img class="d-block w-100" src="{% static 'A3.jpg'%}" alt="Third slide">
                              </div>
                              <div class="carousel-item">
                                <h4><strong>4. Fitur Golden Plan - Rencana dibuat Sendiri</strong></h4>
                                <img class="d-block w-100" src="{% static 'A41.jpg'%}" alt="Fourth slide">
                              </div>
                              <div class="carousel-item">
                                <h4><strong>4. Fitur Golden Plan - Rencana dibuat Aplikasi</strong></h4>
                                <img class="d-block w-75" src="{% static 'A42.jpg'%}" alt="Fourth slide">
                              </div>
                              <div class="carousel-item">
                                <h4><strong>5. Fitur Kebun Emas</strong></h4>
                                <img class="d-block w-75" src="{% static 'A5.jpg'%}" alt="Fifth slide">
                              </div>
                              <div class="carousel-item">
                                <h4><strong>6. Fitur Gift Emas</strong></h4>
                                <img class="d-block w-100" src="{% static 'A6.jpg'%}" alt="Sixth slide">
                              </div>
                              <div class="carousel-item">
                                <h4><strong>7. Fitur Cetak Emas</strong></h4>
                                <img class="d-block w-100" src="{% static 'A7.jpg'%}" alt="Seven slide">
                              </div>
                              <div class="carousel-item">
                                <h4><strong>8. Fitur Alarm Emas</strong></h4>
                                <img class="d-block w-100" src="{% static 'A8.jpg'%}" alt="Seven slide">
                              </div>
                              <div class="carousel-item">
                                <h4><strong>9. Tukar Point</strong></h4>
                                <img class="d-block w-100" src="{% static 'A9.jpg'%}" alt="Seven slide">
                              </div>
                              <div class="carousel-item">
                                <h4><strong>10. Notifikasi</strong></h4>
                                <img class="d-block w-100" src="{% static 'A10.jpg'%}" alt="Seven slide">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </section>


              
                    
                    <section class="text-center" style="background: #f6f0e6;">
                        <br><br>
                      <h4 class="mb-5"><strong>Another Portofolio</strong></h4>
            
                      <div class="row">
                        <div class="col-lg-4 col-md-12 mb-4">
                          <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                              <img
                                src="{% static 'edufun.png'%}"
                                class="img-fluid w-100"
                              />
                              <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                              </a>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Project</h5>
                              <h4><b>edu.fund</b></h4>
                              <p class="card-text text-muted">
                                
                                September 2020- Desember 2020</b>
                                <br> Tema dari project ini adalah <b><i> fintech & crowdfunding </b></i>
                              </p>
                              <a href="{% url 'edufun' %}" class="btn btn-secondary">Read More</a>
                            </div>
                          </div>
                        </div>
            
                        <div class="col-lg-4 col-md-6 mb-4">
                          <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                              <img
                                src="{% static 'logo.jpg'%}"
                                class="img-fluid" 
                              />
                              <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                              </a>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Competation</h5>
                              <h4><b>CAN EAT</b></h4>
                              <p class="card-text text-muted">
                                Fooderation 2020 
                              
                                <br> Tema lomba ini <i><b> Agile Sociofoodpreneur as the Key to Achieve Sustainability in
                                Disruptive Era.</b></i>
                                
                              </p>
                              <a href="{% url 'caneat' %}" class="btn btn-secondary">Read More</a>
                            </div>
                          </div>
                        </div>
            
                        <div class="col-lg-4 col-md-6 mb-4">
                          <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                              <img
                                src="{% static 'HR siap kerja.png'%}"
                                class="img-fluid w-100"
                              />
                              <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                              </a>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Work Experience</h5>
                              <h4><b>HR Siap Kerja</b></h4>
                              <p class="card-text text-muted">
                                Februari 2021 - Juni 2021
                              <br>Project yang mengembangkan sistem Informasi dari client dari <b>Rumah Siap Kerja</b>
                              </p>
                              <a href="{% url 'hr' %}" class="btn btn-secondary">Read More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
            
 
</div>
</body> 
</html>
