<!DOCTYPE html>
{% load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Rafa's Schedules</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <style type="text/css">
        .bg-light{
            background-color: transparent !important;
        }
    body{
        height: 100%;
        margin: 0;
    }
    </style>
</head>

<body>
<div id="Board0">
    <nav class="container navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" style="font-size: 2vw;color: mediumvioletred" href="#"><b><i>RAysh</i></b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto w-100 d-flex justify-content-end">
            <li class="nav-item p-2">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'experience' %}">Experience</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link active" href="{% url 'schedule' %}">Schedules</a>
            </li>
            
            <li class="nav-item p-2">
                    <a href='https://instagram.com/rafaaysh?igshid=qe84j2j6gtmh'>
                        <img class="simbolig" src="{% static '6b42c7750811d31baa3659803af22052.png'%}"></a>
            </li>
            <li class="nav-item p-2">
            <a href='https://www.linkedin.com/in/rafa-ayasha-33b168177'>
                <img class="simbollink" src="{% static 'linkedin-svg-jpeg-2.png'%}"></a>
            </li>
        </ul>
        </div>
      </nav>
    
      <div class="container" style="font-family: 'Patua One', cursive;">
        <hr style="margin-top: 6%;" />
        <p>MY SCHEDULE</p>
        <hr />
        <a href="{% url 'schedule' %}"></a>
        <div class="row">
          {% for schedule in schedules %}
          <div class="col-sm-4 text-center">
            <h2>{{ schedule.date }}</h2>
            <p>{{ schedule.time }}</p>
            <p>{{ schedule.category }}</p>
            <p>{{ schedule.name }}</p>
            <p>{{ schedule.place }}</p>
            <div class = 'form-group'>
                <form action="/formulir/delete/{{ schedule.id }}/" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
        </div>

          </div>
          {% endfor %}
        </div>
        <div class = 'col-md-12'>
            <div class = 'form-group'>
                <a href="{% url 'schedule_deleteall' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Clear</button></a>
                <a href="{% url 'schedule_create' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>
        </div>    
      </div>
    </body>
  </html>
</html>
